@tailwind base;
@tailwind components;
@tailwind utilities;

/* Accommodate sticky footer */
html,
body,
#__next {
  height: 100vh;
}

/* Improve default horizontal rule */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  margin: 4rem 0;
}

/* Collapsible content */
details summary {
  cursor: pointer;
}
details summary > span {
  margin-left: 6px;
  font-weight: bold;
  font-size: 20px;
}
details > div {
  margin: 10px 0 0 24px;
}

/* Pull nested lists closer to the parent item above */
ul ul {
  margin-top: -1rem !important;
}
/* Remove bullets and reduce space between list items in nested lists */
ul ul > li {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.prose h2 {
  max-width: 60rem;
}
.prose li,
.prose p {
  max-width: 42rem;
}
